<nav id="navbarTop" class="navbar navbar-dark fixed-top navbar-expand bg-transparent p-0" [ngClass]="visible ? 'visible' : 'hidden'">
  <div class="container-fluid bg-dark bg-opacity-75 w-auto h-100">
    <ul class="prs-ul-nav navbar-nav my-3 my-lg-0 w-100 justify-content-center align-items-center">
      <li class="nav-item">
        <a class="nav-link" href="#about-me">
          <em class="bi bi-person-fill"></em>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#my-projects">
          <em class="bi bi-briefcase-fill"></em>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">
          <em class="bi bi-envelope-fill"></em>
        </a>
      </li>
    </ul>
  </div>
</nav>
