.navbar {
  height: 60px;
}

.hidden {
  top: -60px;
  animation-name: hidden-animation;
  animation-duration: 1s;
}

.visible {
  top: 0%;
  animation-name: visible-animation;
  animation-duration: 1s;
}

@keyframes hidden-animation {
  0%   {top: 0%;}
  100% {top: -60px;}
}

@keyframes visible-animation {
  0%   {top: -60px;}
  100% {top: 0%;}
}
