@import '/src/assets/scss/variables.scss';

.area{
  background: $black-prs;
  color: $white-prs;
  .projects-row {
    .card {
      .card-img-overlay {
        background-color: transparent;
        color: transparent;
        transition: background 0.3s ease-out 100ms, color 0.3s ease-out 100ms;
      }
    }
    .card:hover {
      .card-img-overlay {
        background-color: rgba(0, 0, 0, 0.24);
        color: $white-prs;
      }
    }
  }
}
