@import '/src/assets/scss/variables.scss';
.container-fluid {
  position: relative;
  background-color: $white-prs;
}

.area {
  min-height: 800px;
  .prs-col-img {
    img {
      width: 80%;
      max-width: 300px;
      border-radius: 100%;
    }
  }
  .icons-tech  {
    //position: relative;
    .div-img-icon {
      display: flex;
      justify-content: center;
      .link-hover-icon {
        height: 100px;
        width: 100px;
        img {
          width: 100px;

        }
      }
    }
    /*
    .div-shadow-absolute {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      .prs-shadow {
        position: absolute;
        height: 100%;
        width: 100px;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.150);
        margin: auto;
      }
    }
    */
  }
}

.prs-bg-technology {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}
