  <div class="area py-5 d-flex align-items-center justify-content-center">
    <div class="grid">
      <div class="row">
        <div class="col pb-5 d-flex justify-content-center prs-col-img">
          <img src="/assets/img/my-photo.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col pt-2 px-4 text-center">
          <div class="profile mx-3">
            <h3 class="mb-3">About me</h3>
            <p>I am a professional software developer</p>
            <p>Actually focused on web development but passionated and opened to any branch of computing.</p>
          </div>
          <div class="languages-tech text-start mt-4">
            <h4>Languages: </h4>
            <div class="row row-cols-2 row-cols-sm-4 row-cols-lg-5 gy-5 icons-tech text-center py-3">
              <div class="col">
                <img src="/assets/img/js.jpg">
              </div>
              <div class="col">
                <img src="/assets/img/php.png">
              </div>
              <div class="col">
                <img src="/assets/img/java.png">
              </div>
            </div>
          </div>
          <div class="frameworks text-start mt-4">
            <h4>Framework & Libraries: </h4>
            <div class="row row-cols-2 row-cols-sm-4 row-cols-lg-5 gy-5 icons-tech text-center py-3">
              <div class="col">
                <img src="/assets/img/angular.png">
              </div>
              <div class="col">
                <img src="/assets/img/react.png">
              </div>
              <div class="col">
                <img src="/assets/img/ionic.png">
              </div>
              <div class="col">
                <img src="/assets/img/bootstrap.png">
              </div>
            </div>
          </div>
          <div class="data-base text-start mt-4">
            <h4>Databases: </h4>
            <div class="row row-cols-2 row-cols-sm-4 row-cols-lg-5 gy-5 icons-tech text-center py-3">
              <div class="col">
                <img src="/assets/img/angular.png">
              </div>
              <div class="col">
                <img src="/assets/img/react.png">
              </div>
              <div class="col">
                <img src="/assets/img/ionic.png">
              </div>
              <div class="col">
                <img src="/assets/img/bootstrap.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
