@import '/src/assets/scss/variables.scss';

.area {
  background-color: $white-prs;
  min-height: 800px;
  .accordion-item {
    margin: 10px 0px;
  }
  .prs-col-img {
    img {
      width: 80%;
      max-width: 300px;
      border-radius: 100%;
    }
  }
  .icons-tech  {
    .div-img-icon {
      display: flex;
      justify-content: center;
      .link-hover-icon {
        height: 100%;
        width: 100px;
        color: gray;
        text-decoration: none;
        h5 {
          margin-top: 5px;
        }
        img {
          width: 80px;
        }
      }
    }
  }
}

.prs-bg-technology {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}
