  <div id="about-me" class="area py-5 align-items-center justify-content-center">
    <div class="grid">
      <div class="row mx-0">
        <div class="col px-0 pb-5 d-flex justify-content-center prs-col-img">
          <img src="/assets/img/my-photo.jpg">
        </div>
      </div>
      <div class="row mx-0 justify-content-center">
        <div class="col px-3 px-md-0 col-md-9 col-lg-8 col-xl-6 pt-2 px-0 mx-0 text-center">
          <h3 class="mb-3">About me</h3>
          <p>I am a professional software developer</p>
          <p>Actually focused on web development but passionated and opened to any branch of computing.</p>
          <div class="languages-tech text-start my-3">
            <!--Accordion start-->
            <div class="accordion" id="accordionAboutMe">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Programming languages
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionAboutMe">
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime illo quae corporis perspiciatis rerum praesentium, distinctio dolores! Incidunt, quidem tempora mollitia minus, beatae ab quae soluta blanditiis quas vero quaerat.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Frameworks & Libraries
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionAboutMe">
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A ipsam delectus ducimus soluta suscipit, maxime nobis quos maiores voluptas? Maxime nostrum repellat facilis magnam soluta optio ratione, blanditiis illo quod!
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Databases
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionAboutMe">
                  <div class="accordion-body">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum iure laborum nisi, dignissimos ipsam sapiente tempora eaque, dolorem magnam commodi molestias. Deserunt quas qui sapiente expedita! Numquam quis molestiae illo.
                  </div>
                </div>
              </div>
            </div>
            <!--Accordion end-->
            <div class="row">
              <h4>Languages: </h4>
            </div>
            <div class="row mx-0 row-cols-2 row-cols-sm-3 row-cols-md-4 gy-5 icons-tech justify-content-start text-center py-3">
              <div class="col px-0">
                <div class="div-img-icon">
                  <a class="link-hover-icon" href="https://www.javascript.com/">
                    <img src="/assets/img/icon/js.jpg">
                    <h5>JavaScript</h5>
                  </a>
                </div>
              </div>
              <div class="col px-0">
                <div class="div-img-icon">
                  <a class="link-hover-icon" href="https://www.php.net/">
                    <img src="/assets/img/icon/php.png">
                    <h5>PHP</h5>
                  </a>
                </div>
              </div>
              <div class="col px-0">
                <div class="div-img-icon">
                  <a class="link-hover-icon" href="https://dev.java/">
                    <img src="/assets/img/icon/java.png">
                    <h5>Java</h5>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="frameworks text-start my-3">
            <div class="row">
              <h4>Framework & Libraries: </h4>
            </div>
            <div class="row mx-0 row-cols-2 row-cols-sm-4 gy-5 icons-tech justify-content-start text-center py-3">
              <div class="col px-0">
                <div class="div-img-icon">
                  <a class="link-hover-icon" href="https://angular.io/">
                    <img src="/assets/img/icon/angular.png">
                    <h5>Angular</h5>
                  </a>
                </div>
              </div>
              <div class="col px-0">
                <div class="div-img-icon">
                  <a class="link-hover-icon" href="https://reactjs.org/">
                    <img src="/assets/img/icon/react.png">
                    <h5>React</h5>
                  </a>
                </div>
              </div>
              <div class="col px-0">
                <div class="div-img-icon">
                  <a class="link-hover-icon" href="https://ionicframework.com/">
                    <img src="/assets/img/icon/ionic.png">
                    <h5>Ionic</h5>
                  </a>
                </div>
              </div>
              <div class="col px-0">
                <div class="div-img-icon">
                  <a class="link-hover-icon" href="https://getbootstrap.com/">
                    <img src="/assets/img/icon/bootstrap.png">
                    <h5>Bootstrap</h5>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="data-base text-start my-3">
            <div class="row">
              <h4>Databases: </h4>
            </div>
            <div class="row mx-0 row-cols-2 row-cols-sm-4 gy-5 icons-tech justify-content-start text-center py-3">
              <div class="col px-0">
                <div class="div-img-icon">
                  <a class="link-hover-icon" href="https://www.mysql.com/">
                    <img src="/assets/img/icon/mysql.png">
                    <h5>MySQL</h5>
                  </a>
                </div>
              </div>
              <div class="col px-0">
                <div class="div-img-icon">
                  <a class="link-hover-icon" href="https://www.postgresql.org/">
                    <img src="/assets/img/icon/postgresql.png">
                    <h5>PostgreSQL</h5>
                  </a>
                </div>
              </div>
              <div class="col px-0">
                <div class="div-img-icon">
                  <a class="link-hover-icon" href="https://www.sqlite.org/">
                    <img src="/assets/img/icon/sqlite.png">
                    <h5>SQLite</h5>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="web-servers text-start my-3">
            <div class="row">
              <h4>Web Servers: </h4>
            </div>
            <div class="row mx-0 row-cols-2 row-cols-sm-4 gy-5 icons-tech justify-content-start text-center py-3">
              <div class="col">
                <div class="div-img-icon">
                  <a class="link-hover-icon" href="https://httpd.apache.org/">
                    <img src="/assets/img/icon/apache.png">
                    <h5>Apache</h5>
                  </a>
                </div>
              </div>
              <div class="col px-0">
                <div class="div-img-icon">
                  <a class="link-hover-icon" href="https://tomcat.apache.org/">
                    <img src="/assets/img/icon/tomcat.png">
                    <h5>Tomcat</h5>
                  </a>
                </div>
              </div>
              <div class="col px-0">
                <div class="div-img-icon">
                  <a class="link-hover-icon" href="https://nginx.org/en/">
                    <img src="/assets/img/icon/nginx.png">
                    <h5>Nginx</h5>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="other-tools text-start my-3">
            <div class="row">
              <h4>Other tools: </h4>
            </div>
            <div class="row mx-0 row-cols-2 row-cols-sm-4 gy-5 icons-tech justify-content-start text-center py-3">
              <div class="col px-0">
                <div class="div-img-icon">
                  <a class="link-hover-icon" href="https://www.docker.com/">
                    <img src="/assets/img/icon/docker.png">
                    <h5>Docker</h5>
                  </a>
                </div>
              </div>
              <div class="col px-0">
                <div class="div-img-icon">
                  <a class="link-hover-icon" href="https://www.jenkins.io/">
                    <img src="/assets/img/icon/jenkins.png">
                    <h5>Jenkins</h5>
                  </a>
                </div>
              </div>
              <div class="col px-0">
                <div class="div-img-icon">
                  <a class="link-hover-icon" href="https://git-scm.com/">
                    <img src="/assets/img/icon/git.png">
                    <h5>Git</h5>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
