<div class="m-0 p-0 d-flex align-items-center area">

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="div-title-prs">
          <h1>Gersán Cabo</h1>
          <h3>Software Developer</h3>
        </div>
        <div class="row mt-2 pt-5 btn-sections-prs">
          <div class="col-12 col-lg-4 my-3 mt-lg-0 col-btn-sections-prs">
            <a href="#about-me" class="section-btn-prs text-decoration-none d-flex flex-column w-50 m-auto">
              <span class="p-4">About me</span>

            </a>
          </div>
          <div class="col-12 col-lg-4 my-3 mt-lg-0 col-btn-sections-prs">
            <a href="#my-projects" class="section-btn-prs text-decoration-none d-flex flex-column w-50 m-auto">
              <span class="p-4">My projects</span>
            </a>
          </div>
          <div class="col-12 col-lg-4 my-3 mt-lg-0 col-btn-sections-prs">
            <a href="#contact" class="section-btn-prs text-decoration-none d-flex flex-column w-50 m-auto">
              <span class="p-4">Contact</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center w-100 div-arrow-down-icon-prs">
    <a href="#about-me">
      <em class="bi bi-chevron-double-down"></em>
    </a>
  </div>

  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
