<div id="contact" class="area py-5 align-items-center justify-content-center">
  <div class="grid">
    <div class="row mx-0 my-4">
      <div class="col text-center">
        <h2>Contact</h2>
      </div>
    </div>
    <div class="row mx-0 my-4 justify-content-center">
      <div class="col col-12 col-sm-4 col-md-3 col-lg-2 my-4 my-sm-0">
        <a href="https://github.com/">
          <div class="contact-link d-flex flex-column align-items-center justify-content-center m-auto">
            <em class="bi bi-github"></em>
            <span>GersanCabo</span>
          </div>
        </a>
      </div>
      <div class="col col-12 col-sm-4 col-md-3 col-lg-2 my-4 my-sm-0 order-1 order-sm-0">
        <a href="mailto:gersancabo@gmail.com">
          <div class="contact-link d-flex flex-column align-items-center justify-content-center  m-auto">
            <em class="bi bi-envelope-fill"></em>
            <span>gersancabo@gmail.com</span>
          </div>
        </a>
      </div>
      <div class="col col-12 col-sm-4 col-md-3 col-lg-2 my-4 my-sm-0">
        <a href="https://www.linkedin.com/in/gersancabo/">
          <div class="contact-link d-flex flex-column align-items-center justify-content-center  m-auto">
            <em class="bi bi-linkedin"></em>
            <span>Gersán Cabo</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
