@import '/src/assets/scss/variables.scss';

.area {
  background-color: $white-prs;
  .contact-link {
    width: 200px;
    em {
      font-size: 50px;
      margin-right: 5px;
    }
  }
  a {
    color: $black-prs;
    text-decoration: none;
  }
}

@media (min-width: 576px) {
  .area {
    .contact-link {
      border-radius: 10px;
      padding: 20px 0px;
      transition: background 0.3s ease-out 100ms, color 0.3s ease-out 100ms;
      em {
        font-size: 40px;
      }
      &:hover {
        background-color: $black-prs;
        color: $white-prs;
      }
    }
  }
}
